.vscode
.idea
*.iml

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Test binary, build with `go test -c`
*.test
app/**/*.test

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

# Binaries
rfid-alert-service

#Ignoring Mongodata
data/

#Debug
debug
debug.test
test-alertmessage.json

*.exe
*.test
*.prof

#vendor stuff
vendor/github.impcloud.net/RSP-Inventory-Suite/**/*.md
vendor/github.impcloud.net/RSP-Inventory-Suite/**/vendor/*
vendor/github.impcloud.net/RSP-Inventory-Suite/**/Jenkinsfile
vendor/github.impcloud.net/RSP-Inventory-Suite/utilities/configuration/testData

go.sum